<div class="container">
  <div class="alert alert-success" role="alert">
    Order Placed. View your order details below.
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <% $ary.each do |a| %>
      <% @ox = Order.joins("INNER JOIN supplies on orders.supply_id = supplies.suppliesid INNER JOIN suppliers ON suppliers.id = orders.supplier_id").select('orders.*, supplies.supplyname, suppliers.name AS supplier').find(a) %>
      <h1 class="display-4"><%= @ox.supplyname %></h1>
      <table class="table table-hover table-dark">
        <tbody>
              <tr>
                <th>Supplier</th>
                <td><%= @ox.supplier %></td>
              </tr>
              <tr>
                <th>Quantity</th>
                <td><%= @ox.quantity %></td>
              </tr>

              <tr>
                <th>Cost</th>
                <td>$<%=number_with_precision(@ox.totalcost, :precision => 2) %>

                </td>
              </tr>
              <tr>
                <th>Date</th>
                <td><%= @ox.date %></td>
              </tr>
          </tbody>
        </table>
        <% end %>

      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
